<div  *ngIf="isLoading$ | async" class="row">
    <div class="col-xs-12 text-center">
        <span class="spinner spinner-inline"></span><span> Loading...</span>
    </div>
</div>
<div class="row">
    <div *ngFor="let pic of recentFlickrPics; let i = index; trackBy:trackFbObjects" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a href="https://www.flickr.com/photos/{{ pic.owner }}/{{ pic.id }}" target="_blank" class="card clickable">
            <div class="card-img">
                <img [src]="pic.url_q" alt="{{ pic.title }}" />
            </div>
            <div class="card-block">
                <h4 class="card-title" style="text-overflow:ellipsis; overflow:hidden">{{ pic.title | slice:0:30 }}</h4>
                <clr-icon shape="user" class="is-info"></clr-icon> <label>{{ pic.ownername }}</label>
                <p class="card-text">
                    <clr-icon shape="upload" class="is-info" size="12"></clr-icon>
                    <span class="p7"> {{ pic.dateupload * 1000 | date: 'yMMMdjms' }}
                    </span>
                </p>
            </div>
        </a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div *ngIf="isLoadingMore$ | async" class="col-xs-12 text-center">
        <span class="spinner spinner-inline"></span><span> Loading...</span>
    </div>
</div>